/* Header */

#header {
    background: rgba(44, 99, 22, 0.5); /* #2c6316 com 60% de opacidade */
    border-bottom: 1px solid rgba(44, 99, 22, 1);
    transition: all 0.5s;
    z-index: 997;
    padding: 0px 0;
    top: 40px;
}


#header.header-scrolled {
    top: 0;
    background: rgba(0, 0, 0, 0.85);
    border-bottom: 1px solid #37332a;
}



#header .logo {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
}


#header .logo a {
    color: #fff;
}

#header .logo-big img {
    max-height: 80px; 
}

@media (max-width: 768px) {
    #header .logo-big img {
        max-height: 150px; /* 3x 50px */
    }
}

@media (max-width: 768px) {
  #header .logo {
    font-size: 18px; /* ou o tamanho que você achar ideal para mobile */
  }
}

/* Container principal */
#header .container-xl {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

/* Right section: barra de busca + menu */
.right-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

/* Barra de busca */
.header-search {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.search-input {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  width: 250px;
  max-width: 70%;
  outline: none;
}

.search-btn {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 4px 4px 0;
  background-color: #2c6316;
  color: #fff;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #1f4613;
}

/* Menu Nav centralizado */
.right-section nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 5px; /* espaço entre barra e menu */
}

/* Logo */
#header .logo-big img {
  max-height: 80px;
}

/* Responsivo */
@media (max-width: 992px) {
  #header .container-xl {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .right-section {
    width: 100%;
    align-items: center;
  }

  .header-search {
    justify-content: center;
    margin-bottom: 5px;
  }

  #header .logo-big img {
    max-height: 50px;
  }
}
